################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FundAdministration.API.Tests/bin/Debug/net8.0
/FundAdministration.API/bin/Debug/net8.0
/FundAdministration.API/obj
/FundAdministration.API.Tests/obj
/FundAdministration.Core/bin/Debug/net8.0
/FundAdministration.Core/obj
/FundAdministration.Infrastructure/bin/Debug/net8.0
/FundAdministration.Infrastructure/obj
/FundAdministration.UseCases/bin/Debug/net8.0
/FundAdministration.UseCases/obj
/FundAdministration.UseCases.Tests/bin/Debug/net8.0
/FundAdministration.UseCases.Tests/obj
/.vs
/FundAdministration.DTOs/bin/Debug/net8.0
/FundAdministration.DTOs/obj
/FundAdministration.Common/bin/Debug/net8.0
/FundAdministration.Common/obj/Debug/net8.0
/FundAdministration.Common/obj
/FundAdministration.Core.Tests/bin/Debug/net8.0
/FundAdministration.Core.Tests/obj
/FundAdministration.API/logs
/FundAdministration.Infrastructure.Tests/bin/Debug/net8.0
/FundAdministration.Infrastructure.Tests/obj/Debug/net8.0
/FundAdministration.Infrastructure.Tests/obj
